# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment files
.env
.venv
env/
venv/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac / OS
.DS_Store

# VSCode settings
.vscode/

# Logs
*.log

